[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dqyi11
[access "refs/for/refs/*"]
	read = group user/dqyi11
	push = group user/dqyi11
	label-Code-Review = -2..+2 group user/dqyi11
	label-Verified = -1..+1 group user/dqyi11
	rebase = group user/dqyi11
	removeReviewer = group user/dqyi11
	submit = group user/dqyi11
[access "refs/heads/*"]
	read = group user/dqyi11
	create = group user/dqyi11
	push = +force group user/dqyi11
	pushMerge = group user/dqyi11
[access "refs/tags/*"]
	push = +force group user/dqyi11
	pushTag = group user/dqyi11
	pushSignedTag = group user/dqyi11
